* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.75;
  font-family: $font-paragraph;
  background-color: $color-background;
  color: $color-text;
}

.container {
  opacity: 0;
}

h1, h2, h3 {
  font-family: $font-title;
  line-height: 1.4;
  color: $color-title;
}

h1 {
  font-size: $font-size-xxxl;
  margin: $margin--title;
}

h2 {
  font-size: $font-size-xl;
  margin: $margin--subtitle;
}

h3 {
  font-size: $font-size-lg;
  margin: $margin--thirdtitle;
}

p {
  font-size: $font-size-base;
  margin: $margin--text;
}

li {
  list-style-type: none;
  margin: $margin--small;
}

a {
  text-decoration: none;

  &:hover {
    border-bottom: #FCF3EE solid 2px;
  }
}

small {
font-size: $font-size-sm;
color: $color-text;
margin: $margin--small;
}

img {
  width: 80%;
  margin: 0em 10% 2rem;
}

// .button {
//   font-size: $font-size-base;
//   margin: $margin--button;
//   height: 3em;
//   border: 2px solid $color-button-primary;
//   border-radius: 8px;
//   color: $color-text-third;
//   background-color: transparent;
// }

.quote {
  font-size: $font-size-xxl;
  text-align: center;
  margin: $margin--quote;
  font-style: italic;

  &::before {
    content: "«" ;
  }

  &::after {
    content: "»" ;
  }
}

.quotecontainer {
  background-color: $color-block-third;
  padding: $padding--block;
  margin: $margin--block;

  & p {
    color: $color-text-fourth;
    margin: 0.5rem 0rem;
  }
}

.line {
  height: 3px;
  background-color: $color-block;
  margin: $margin--line;
}

section {
  padding : $padding--section;
  // height: 100vh;
  grid-auto-rows: min-content;
}

.activesection{
  font-weight: 600;
}

//SCROLLBAR

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: $color-background;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-block;
  border-radius: 20px;
  border: 3px solid $color-block;
}

//TRANSITION
.cover{
  position: fixed;
  background-color: $color-block;
  top: 0;
  height: 100vh;
  width: 100%;
  left: -100%;
  z-index: -100;
}

.transition.slide .cover {
  background: $color-block;  
  animation: slide 1s ease-in-out forwards;
}

.bodyanimation {
  animation: bodyopacity 1.5s both;
}

//NAVIGATION
.navigation {
  width: 100%;
  height: 4rem;
  position: fixed;
  background: linear-gradient(180deg, rgba(252,243,238,1) 0%, rgba(0,0,0,0) 100%);
  z-index: 100;

  &__container {
    color: $color-text-secondary;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 100%;
    transition: 0.5s;
    margin: 0 auto;
    background-color: $color-nav;
  }

  &__link {
    color: $color-text-secondary;
  }

  &__el {
    margin: 0.5rem 16px;
  }

  &__burger {
    display: block;
    position: absolute;
    left: calc(100% - 80px);
    top: 48px;
  }


  &__bar {
    width: 44px;
    height: 7px;
    display: block;
    padding: 0;
    margin: 6px 0px;
    transition: 0.5s;
    background-color: $color-block;
  }
}

.activeNav {
  left: 0;
  z-index: 100;
  opacity: 1;
}

.activeBurger {
  z-index: 100;

}
.activeBurger .navigation__bar:nth-child(2) {
  opacity: 0;
}
.activeBurger .navigation__bar:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
  background: $color-block-secondary;
}
.activeBurger .navigation__bar:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg);
  background: $color-block-secondary;
}

.link {
  color: $color-title;
  text-decoration: none;
  position: relative;
}
.link span{
  position: relative;
}

.arrow{
  margin-left: 0.5em;
}
.link .bubble {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: $color-button-secondary;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -0.65em;
}

.btn {
  margin: 0.5rem 2rem;
  & a {
    cursor: pointer;
  }
}

//HERO
.hero {
  &__btn {
    &--discover {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // &--discover::after {
    //   content: url(/assets/images/arrow-down.svg);
    //   transform: scale(0.5);
    //   animation: arrowButton 3s infinite;
    // }
  }
}

//PRESENTATION

.timer {
  color: $color-text-secondary;
  background-color: $color-button-primary;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 10% 100%);
  height: 100px;
  padding: 8px;
  margin: $margin--timer;


  &__name {
    font-size: $font-size-sm;
  }
}

.perspective {
  padding:50px;
  background:$color-block-third;
  transform: translatez(50px);
  transform-style: preserve-3d;

  width:100%;
  perspective: 700px;
  -webkit-transform-style:flat; /* why would I do that? well there is a very strange bug with safari, and it fixed it... */
  transform-style: preserve-3d;

  &:before{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 50px;
    background-color: #196794;
    top: -50px;
    transform-origin: center bottom;
    transform: rotatex(90deg);
  }

  &:after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 50px;
    background-color: #196794;
    bottom: -50px;
    transform-origin: center top;
    transform: rotatex(-90deg);
  }
}

.perspectivebis {
  padding:50px;
  background:$color-block-third;
  transform: translatez(50px);
  transform-style: preserve-3d;

  width:100%;
  perspective: 700px;
  -webkit-transform-style:flat; /* why would I do that? well there is a very strange bug with safari, and it fixed it... */
  transform-style: preserve-3d;

  &:before{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 50px;
    background-color: #083A5E;
    top: -50px;
    transform-origin: center bottom;
    transform: rotatex(90deg);
  }

  &:after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 50px;
    background-color: #083A5E;
    bottom: -50px;
    transform-origin: center top;
    transform: rotatex(-90deg);
  }
}

//PAGE DE DOCUMENTATION 
.userdoc {
  &__quoteblock {
    display: flex;
    flex-direction: column;
  }

  

  &__quote {
    text-align: center;
    
  }
}

.problemdoc {
  &__container {
    background-color: $color-block;
    padding: $padding--bigblock;
    margin: $margin--block;

    & p {
      color: $color-text-secondary;
    }
  }

  &__quotecontainer {
    background-color: $color-block-third;
    padding: $padding--block;
    margin: $margin--block;

    & p {
      color: $color-text-fourth;
      margin: 0.5rem 0rem;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    font-size: $font-size-xxl;
    text-align: center;
    margin: $margin--quote;
    font-style: italic;

    & :nth-child(1)::before {
      content: "«" ;
    }

    & :nth-child(2)::after {
      content: "»" ;
    }
  }

  &__text {
    &--javascript {
      margin: 4rem 0 2em;
    }
  }
}

.hypothesesdoc {
  &__quotecontainer {
    margin: 0rem 0rem 2rem;
    background-color: $color-block-third;
    padding: $padding--block;
  
    & p {
      color: $color-text-fourth;
      margin: 0.5rem 0rem;
    }
  }

  &__img {
    margin-bottom: -8px;
    z-index: 100;
  }

  &__text {
    &--goal {
      margin: 4em 0 2em;
    }
    &--friendly {
      margin: 4em 0 2em;
    }
  }
}

.fonctionalitydoc {
  &__rankinglist {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__rank {
    position: absolute;
    width: 20%;
    opacity: 0;

    & :nth-child(1) {
      opacity: 1;
    }
  }
}

.studydoc {
  &__subtitle {
    margin-bottom: 0em;
  }
}

//VERSION TABLETTE
@media (min-width: 768px) {
  .navigation{

    &__container {
      width: 40%;
      left: -40%;
      align-items: flex-start;
      border-right: 2px solid $color-button-primary;

    }

    &__burger {
      left: 10%;
      top: 5%;
    }
  }

  .activeNav {
    left: 0;
    z-index: 100;
    opacity: 1;
  }

.problemdoc {
  &__img {
    margin-bottom: -120px;
    z-index: 100;
  }
}

.hypothesesdoc {
  &__img {
    margin-bottom: -16px;
  }
}

}

@media (min-width: 1024px) {
  .navigation {
    &__container {
        width: 18%;
        left: 0;
    }

    &__burger{
        display: none;
    }
}

.problemdoc {
    &__quote span{
        margin-left: 20%;
    }

    &__img {
        margin-left: 40%;
    }
}

.hypothesesdoc {
  &__quotecontainer {
    display: grid;
  }

  
  &__text {
    &--goal {
      margin: 4em 0 4em 5%;
    }
    &--friendly {
      margin: 4em 0 4em 5%;
    }
  }
}
}
