.hero{
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    // grid-template-rows: repeat(4, auto) 1fr; 
    gap: 0px 8px; 
    // height: 100vh;

    &__title {
        grid-area: 1 / 2 / 2 / 7;
    }

    &__report {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__choice {
        grid-area: 3 / 2 / 4 / 7;
    }

    &__btn {
        &--documentation {
            grid-area: 4 / 3 / 5 / 6;
        }

        &--discover {
            grid-area: 5 / 3 / 6 / 6;
        }
    }
}

.user {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__text {
        &--meet {
            grid-area: 4 / 2 / 5 / 7;
        }

        &--drink {
            grid-area: 5 / 2 / 6 / 7;  
        }
    }

    &__btn {
        grid-area: 6 / 3 / 7 / 6;
    }
}

.problem {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__text {
        &--js {
            grid-area: 4 / 2 / 5 / 7;
        }

        &--learn {
            grid-area: 5 / 2 / 6 / 7;  
        }
    }

    &__btn {
        grid-area: 6 / 3 / 7 / 6;
    }
}

.hypotheses {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__text {
        &--game {
            grid-area: 4 / 2 / 5 / 7;
        }

        &--questionning {
            grid-area: 5 / 2 / 6 / 7;  
        }
    }

    &__btn {
        grid-area: 6 / 3 / 7 / 6;
    }
}

.fonctionnality {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__text {

        &--website {
            grid-area: 4 / 2 / 5 / 7;
        }

        &--learning {
            grid-area: 5 / 2 / 6 / 7;
        }

        &--fonctionnality {
            grid-area: 6 / 2 / 7 / 7;
        }
    }

    &__btn {
        grid-area: 7 / 3 / 8 / 6;
    }
}

.study {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__text {
        grid-area: 4 / 2 / 5 / 7;
    }

    &__btn {
        grid-area: 5 / 3 / 6 / 6;
    }
}

.presentation {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__timer {
        grid-area: 3 / 2 / 4 / 8;
    }

    &__img {
        grid-area: 4 / 2 / 5 / 7;
    }

    &__text {
        grid-area: 5 / 2 / 6 / 7;  
    }

    &__btn {
        grid-area: 6 / 3 / 7 / 6;
    }
}

.timer {
    display: grid; 
    grid-template-columns: 0.5fr 1.8fr 0.3fr 1.8fr 0.4fr 1.7fr 0.4fr 1.6fr 0.5fr; 
    grid-template-rows: 0.5fr repeat(2, 1.5fr) 0.5fr; 
    gap: 8px 8px; 
    justify-items: center;
    //Chiffres
    &__number{
        &--day {
            grid-area: 2 / 2 / 3 / 3;
        }

        &--hour {
            grid-area: 2 / 4 / 3 / 5;
        }

        &--minutes {
            grid-area: 2 / 6 / 3 / 7;
        }

        &--seconds {
            grid-area: 2 / 8 / 3 / 9;
        }
    }

    //Nom
    &__name {
        &--day {
            grid-area: 3 / 2 / 4 / 3;
        }

        &--hour {
            grid-area: 3 / 4 / 4 / 5;
        }

        &--minutes {
            grid-area: 3 / 6 / 4 / 7;
        }

        &--seconds {
            grid-area: 3 / 8 / 4 / 9;
        }
    }
        
    //:
    &__separation {
        &--first {
            grid-area: 2 / 3 / 3 / 4;
        }

        &--seconde {
            grid-area: 2 / 5 / 3 / 6;
        }

        &--third {
            grid-area: 2 / 7 / 3 / 8;
        }
    }

}

.conclusion {
    display: grid; 
    grid-template-columns: 16px repeat(5, 1fr) 32px; 
    gap: 0px 16px;
    // height: 100vh;

    &__small {
        grid-area: 1 / 2 / 2 / 6;
    }

    &__subtitle {
        grid-area: 2 / 2 / 3 / 7;
    }

    &__text {
        grid-area: 3 / 2 / 4 / 7; 
    }

    &__img {
        grid-area: 4 / 2 / 5 / 7;
    }
}

//DOCUMENTATION
.userdoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px; 

    &__title {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__subtitle { 
        &--user {
            grid-area: 2 / 2 / 3 / 6;
        }
    }

    &__subsubtitle {
        &--drink {
            grid-area: 12 / 2 / 13 / 6;
        }

        &--questions{
            grid-area: 6 / 2 / 7 / 6;
        }
    }

    &__img {
        &--interview {
            grid-area: 4 / 3 / 5 / 6;
        }

        &--explose {
            grid-area: 9 / 3 / 10 / 6;
        }

        &--drink {
            grid-area: 14 / 3 / 15 / 6;
        }
    }

    &__line {
        grid-area: 11 / 2 / 12 / 7;
    }

    &__text {
        &--beginning {
            grid-area: 3 / 2 / 4 / 7;
        }

        &--interview {
            grid-area: 5 / 2 / 6 / 7;
        }

        &--help {
            grid-area: 7 / 2 / 8 / 7;
        }

        &--problems {
            grid-area: 8 / 2 / 9 / 7;
        }

        &--coding {
            grid-area: 10 / 2 / 11 / 7;
        }

        &--pub {
            grid-area: 13 / 2 / 14 / 7;
        }

        &--toxicity {
            grid-area: 15 / 2 / 16 / 7;
        }
    }

    &__quoteblock {
        grid-area: 16 / 1 / 17 / 8;

        display: grid; 
        grid-template-columns: 0.3fr 5fr 0.3fr; 
        gap: 0px 0px; 
    }

    &__quote {
        grid-area: 2 / 2 / 3 / 3;
    }

    &__text {
        &--surprised {
            grid-area: 1 / 2 / 2 / 3;
        }

        &--idea {
            grid-area: 3 / 2 / 4 / 3;
        }
    }

}

.problemdoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px;

    &__subtitle {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__text {
        &--questions {
            grid-area: 2 / 2 / 3 / 7;
        }

        //
        &--langage {
            grid-area: 1 / 2 / 2 / 3;
        }

        &--learning {
            grid-area: 2 / 2 / 3 / 3;
        }

        &--sentence {
            grid-area: 3 / 2 / 4 / 3;
        }

        &--javascript {
            grid-area: 6 / 2 / 7 / 3;
        }
    }

    &__list {
        grid-area: 3 / 2 / 4 / 6;
    }

    &__container {
        grid-area: 4 / 1 / 10 / 8;

        display: grid; 
        grid-template-columns: 0.3fr 5fr 0.3fr; 
        gap: 0px 8px; 
    }

    &__quotecontainer {
        grid-area: 5 / 1 / 6 / 4;
    }

    &__img {
        grid-area: 5 / 1 / 6 / 4;
    }
}

.hypothesesdoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px; 

    &__subtitle {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__text {
        &--pivot {
            grid-area: 2 / 2 / 3 / 7;
        }

        &--friendly {
            grid-area: 5 / 2 / 6 / 7;
        }
    }

    &__img {
        grid-area: 3 / 3 / 4 / 6;
    }

    &__quotecontainer {
        grid-area: 4 / 1 / 5 / 8; 
    }
}


.fonctionalitydoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px; 

    &__subtitle {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__subsubtitle {
        &--chat {
            grid-area: 1 / 2 / 2 / 5;            
        }

        &--game {
            grid-area: 5 / 2 / 6 / 6;
        }

        &--help {
            grid-area: 10 / 2 / 11 / 6;
        }

        &--futur {
            grid-area: 15 / 2 / 16 / 6;
        }
    }

    &__img {
        &--chat {
            grid-area: 4 / 1 / 5 / 8;
        }

        &--blario {
            grid-area: 7 / 3 / 8 / 6;
        }
    }

    &__text {
        &--chat {
            grid-area: 3 / 2 / 4 / 7;
        }

        &--rank {
            grid-area: 6 / 2 / 7 / 7;
        }

        &--hierarchy {
            grid-area: 8 / 2 / 9 / 7;
        }

        &--help {
            grid-area: 11 / 2 / 12 / 7;
        }

        &--filter {
            grid-area: 14 / 2 / 15 / 7;
        }

        &--futur {
            grid-area: 16 / 2 / 17 / 7;
        }
    }

    &__list {
        grid-area: 12 / 2 / 13 / 6;
    }

    &__rankinglist {
        grid-area: 9 / 1 / 10 / 8;
    }

    &__line {
        grid-area: 13 / 2 / 14 / 7;
    }
}

.studydoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px; 

    &__subtitle {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__subsubtitle {
        &--langage {
            grid-area: 2 / 2 / 3 / 6;
        }

        &--codepen {
            grid-area: 6 / 2 / 7 / 6;
        }

        &--discord {
            grid-area: 12 / 2 / 13 / 6;
        }

        &--ia {
            grid-area: 18 / 2 / 19 / 6;
        }

        &--mdn {
            grid-area: 22 / 2 / 23 / 6;
        }
    }

    &__text {
        &--langage {
            grid-area: 3 / 2 / 4 / 7;
        }

        &--same {
            grid-area: 4 / 2 / 5 / 5;
        }

        &--codepen {
            grid-area: 7 / 2 / 8 / 7;
        }

        &--badcode {
            grid-area: 8 / 2 / 9 / 7;
        }

        &--rival {
            grid-area: 9 / 2 / 10 / 6;
        }

        &--futur {
            grid-area: 11 / 2 / 12 / 7;
        }
        
        &--discord {
            grid-area: 13 / 2 / 14 / 7;
        }

        &--voc {
            grid-area: 15 / 2 / 16 / 7;
        }

        &--message {
            grid-area: 17 / 2 / 18 / 7;
        }

        &--chatgpt {
            grid-area: 19 / 2 / 20 / 7;
        }

        &--tools {
            grid-area: 21 / 2 / 22 / 7; 
        }

        &--mdn {
            grid-area: 24 / 2 / 25 / 7;
        }
    }

    &__img {
        &--langage {
            grid-area: 5 / 3 / 6 / 6;
        }

        &--codepen {
            grid-area: 10 / 1 / 11 / 8;
        }

        &--discussion {
            grid-area: 14 / 1 / 15 / 8;
        }

        &--chat {
            grid-area: 16 / 3 / 17 / 6;
        }

        &--ia {
            grid-area: 20 / 1 / 21 / 8;
        }

        &--mdn {
            grid-area: 23 / 1 / 24 / 8;
        }
    }

    &__btn {
        grid-area: 25 / 3 / 26 / 6;
    }
}

.presentationdoc {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 8px; 

    &__subtitle {
        grid-area: 1 / 2 / 2 / 5;
    }

    &__timer {
        grid-area: 2 / 2 / 3 / 8;
    }

    &__img {
        grid-area: 5 / 3 / 6 / 6;
    }

    &__text {
        &--oral {
            grid-area: 3 / 2 / 4 / 7;
        }

        &--javascript {
            grid-area: 4 / 2 / 5 / 7;
        }

        &--mid {
            grid-area: 6 / 2 / 7 / 7;
        }

        &--ending {
            grid-area: 7 / 2 / 8 / 7;
        }
    }
}