//polices
$font-title: 'Concert One', cursive;
$font-paragraph: 'Montserrat', sans-serif;
//taille de polices
$font-size-sm: clamp(0.8rem, 0.25vw + 0.74rem, 0.94rem);
$font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
$font-size-md: clamp(1.25rem, 0.76vw + 1.06rem, 1.67rem);
$font-size-lg: clamp(1.56rem, 1.2vw + 1.26rem, 2.22rem);
$font-size-xl: clamp(1.95rem, 1.83vw + 1.5rem, 2.96rem);
$font-size-xxl: clamp(2.44rem, 2.74vw + 1.76rem, 3.95rem);
$font-size-xxxl: clamp(3.05rem, 4.02vw + 2.05rem, 5.26rem);
//couleurs
$color-background: #FCF3EE;
$color-title: #196794;
$color-text: #110803;
$color-text-secondary: #FCF3EE;
$color-text-third: #3DA9FC;
$color-text-fourth: #083A5E;
$color-button-primary: #3DA9FC;
$color-button-secondary: #F8E1D3;
$color-accent: #083A5E;
$color-block: #083A5E;
$color-block-secondary: #FCF3EE;
$color-block-third: #CDE9FE;
$color-nav: #FCF3EECC;
//margin
$margin--title: 0 0 2em 0;
$margin--subtitle: 0px 0px 2em 0px;
$margin--thirdtitle: 3em 0px 2em 0px;
$margin--text: 0 0 1em 0;
$margin--small: 0 0 0.5em 0;
$margin--button: 2em 0 0 0;
$margin--timer: 0em 0 2em 0;
$margin--section: 0em 0 6em 0;
$margin--block: 1rem 0rem 2rem;
$margin--line: 0.5em 0 0.5em 0;
//Padding
$padding--section: 6em 0 0em 0;
$padding--block: 2em 0em;