//ANIMATION UP & DOWN FLECHE BOUTONS
@keyframes arrowButton{
    0% {
      transform: translateY(2px);
    }
  
    50% {
      transform: translateY(-2px);
    }
  
    100% {
      transform: translateY(2px);
    }
}

// ANIMATION DE TRANSITION DE PAGE
@keyframes slide {
    0% {
        opacity: 1;
        left: -100vw;
        z-index: 1000;
    }

    75% {
        opacity: 1;
        left: 0;
    }

    100% {
        opacity: 0;
        left: 0;
        z-index: 1000;
    }
}

// ANIMATION D'OPACITE DU BODY
@keyframes bodyopacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}